---
layout: default
---
{% for instruction in site.instructions %}
{% cycle '<div class="content"><div class="row two-pages">', '' %}
  <div class="col-sm-6 col-xs-12 page-{% cycle 'odd', 'even' %}" id="instruction-{{ forloop.index }}">
      <div class="number">
          {% assign numbers = forloop.index | downcase | split: '' %}
          <span class="digits">{% for number in numbers %}<img src="/img/{{ number }}.png" />{% endfor %}</span>
      </div>
      <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="article-header">
              <h1 itemprop="headline">{{ instruction.title }}</h1>
          </header>
          {{ instruction.content }}
      </article>
  </div>
{% cycle '', '</div></div><hr class="hr" />' %}
{% endfor %}
