<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
		{% seo %}
	</head>
	<body>

		<!--<div class="loader"></div>-->

		<div class="container pd-0">
		    <header class="header">
		        <nav class="navbar nav-main">
		            <div class="navbar-header">
		                <a class="nav-logo" href="/"></a>
		            </div>
		        </nav>
		    </header>
		    <main class="main">
		        {{content}}
		        <span class="feather"></span>
		        <span class="stamp"></span>
		        <span class="fix"></span>
		    </main>
		    <footer class="footer">
		        <div class="information clearfix">
		            <span class="dom pull-left">
		                <small>&copy; <time>{{ 'now' | date: "%Y" }}</time></small>
		                <a href="/">DomoStroi.me</a>
		                <a class="email" href="mailto:a@ustimen.co?subject=Domostroi">a@ustimen.co</a>
		            </span>
		            <span class="pull-right"><small>&copy;</small> <cite>В.В.Колесов, Сильвестр</cite></span>
		        </div>
		    </footer>
		</div>

		<script src="/js/jquery-2.2.0.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/main.js"></script>
		{% include metrika.html %}
	</body>
</html>
